<table id="seatsBlock">
    <p id="notification"></p>
    <tr>
        <td colspan="14">
        </td>
        <td rowspan="20">
            <div class="smallBox greenBox">Selected Seat</div> <br/>
            <div class="smallBox redBox">Reserved Seat</div><br/>
            <div class="smallBox emptyBox">Empty Seat</div><br/>
        </td>

        <br/>
    </tr>

    <tr>
        <td></td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td></td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td>10</td>
        <td>11</td>
        <td>12</td>
    </tr>

    <tr>
        <td>A</td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="A1-20000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="A2-20000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="A3-20000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="A4-20000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="A5-20000"></td>
        <td class="seatGap"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="A6-20000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="A7-20000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="A8-20000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="A9-20000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="A10-20000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="A11-20000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="A12-20000"></td>
    </tr>

    <tr>
        <td>B</td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="B1-19000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="B2-19000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="B3-19000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="B4-19000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="B5-19000"></td>
        <td></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="B6-19000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="B7-19000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="B8-19000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="B9-19000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="B10-19000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="B11-19000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="B12-19000"></td>
    </tr>

    <tr>
        <td>C</td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="C1-18000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="C2-18000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="C3-18000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="C4-18000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="C5-18000"></td>
        <td></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="C6-18000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="C7-18000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="C8-18000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="C9-18000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="C10-18000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="C11-18000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="C12-18000"></td>
    </tr>

    <tr>
        <td>D</td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="D1-17000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="D2-17000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="D3-17000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="D4-17000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="D5-17000"></td>
        <td></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="D6-17000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="D7-17000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="D8-17000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="D9-17000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="D10-17000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="D11-17000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="D12-17000"></td>
    </tr>

    <tr>
        <td>E</td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="E1-16000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="E2-16000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="E3-16000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="E4-16000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="E5-16000"></td>
        <td></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="E6-16000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="E7-16000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="E8-16000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="E9-16000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="E10-16000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="E11-16000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="E12-16000"></td>
    </tr>

    <tr class="seatVGap"></tr>

    <tr>
        <td>F</td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="F1-15000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="F2-15000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="F3-15000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="F4-15000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="F5-15000"></td>
        <td></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="F6-15000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="F7-15000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="F8-15000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="F9-15000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="F10-15000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="F11-15000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="F12-15000"></td>
    </tr>

    <tr>
        <td>G</td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="G1-14000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="G2-14000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="G3-14000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="G4-14000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="G5-14000"></td>
        <td></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="G6-14000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="G7-14000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="G8-14000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="G9-14000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="G10-14000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="G11-14000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="G12-14000"></td>
    </tr>

    <tr>
        <td>H</td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="H1-13000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="H2-13000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="H3-13000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="H4-13000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="H5-13000"></td>
        <td></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="H6-13000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="H7-13000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="H8-13000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="H9-13000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="H10-13000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="H11-13000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="H12-13000"></td>
    </tr>

    <tr>
        <td>I</td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="I1-12000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="I2-12000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="I3-12000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="I4-12000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="I5-12000"></td>
        <td></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="I6-12000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="I7-12000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="I8-12000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="I9-12000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="I10-12000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="I11-12000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="I12-12000"></td>
    </tr>

    <tr>
        <td>J</td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="J1-11000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="J2-11000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="J3-11000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="J4-11000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="J5-11000"></td>
        <td></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="J6-11000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="J7-11000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="J8-11000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="J9-11000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="J10-11000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="J11-11000"></td>
        <td><input type="checkbox" (click)="register($event)" class="seats" value="J12-11000"></td>
    </tr>


</table>
<div class="col-md-offset-5 mt-5">
    <button id="btnConfirm" class="btn btn-success text-center" (click)="confirmarVenta()">Confirmar venta</button>
</div>
<div class="container">
    <div class="row">
        <b>MONTO A PAGAR:</b> {{ montoPagar }}
    </div>
</div>
<div class="container">
    <div class="row">
        <h3>Listar ventas</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Fecha</td>
                    <td>Ubicacion</td>
                    <td>Precio</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let venta of ventas">
                    <td>{{ venta.fecha | date: 'short' }}</td>
                    <td>{{ venta.ubicacion }}</td>
                    <td>{{ venta.precio }}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">TOTAL VENTAS</td>
                    <th class="text-center">{{ montoTotal }}</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>